/* General settings */

body {
    margin: 0px;
}

h1 {
    text-align: center;
}

/* Result settings */

.keyword {
    color: blue;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 0px;
}

th {
    color: black;
    background-color: silver;
    border-bottom: 1px dotted gray;
}

td {
    vertical-align: top;
    border-bottom: 1px dotted silver;
}

td.title {
    vertical-align: middle;
    border: 0px;
}

